#Bina {
    white-space: nowrap;
}

.imag {
    position: relative;
    /*image vers le haut*/
    top: -15px;
    /* Déplace l'image de 20 pixels vers le bas */
    left: 0px;
    /* Déplace l'image de 30 pixels vers la droite */
    margin-left: -105px;
    margin-top: -5px;
    height: 100px;
    width: 400px;

}

.nav-item active.navbar-link {
    background-color: rgb(18, 56, 3);


}

.navbar-nav {
    margin-top: -30px;

}

/* Couleur par défaut des onglets */
.default-color {
    color: #000;
    /* Couleur du texte par défaut */
    background-color: #fff;
    /* Couleur de fond par défaut */
}

/* Couleur par défaut pour les éléments de navigation */
.navbar-nav .nav-link {
    color: black;
}

/* Couleur au survol pour un élément de navigation à la fois */
.navbar-nav .nav-link:hover {
    color: green;
}

header {
    background-color: rgb(207, 207, 161);
    /* Applique une couleur verte claire au footer */
}

.container {
    /*diminution de la longueur du navbar*/
    height: 70px;
}

.nav-item-boss {
    margin-top: -10px;
    margin-left: 20px;
}