<link rel="shortcut icon" href="/src/assets/images/favicon.png" type="">
<title></title>
<link rel="stylesheet" type="text/css" href="/src/assets/css/bootstrap.css" />
<link href="/src/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="/src/assets/css/style.css" rel="stylesheet" />
<link href="/src/assets/css/responsive.css" rel="stylesheet">
<!-- footer start -->
   <footer>
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <div class="full">
                  <!--div class="logo_footer">
                     <a href="#"><img width="210" id="imk" src="assets/images/Sersi.jpg" alt="#" /></a>
                  </div-->
                  <div class="information_f">
                     <p><strong>ADRESSE:</strong> Gbamakopé, Djagblé, Lomé-Togo</p>
                     <p><strong>TELEPHONE:</strong> (+228)97028153/90782071/70457236</p>
                     <p><strong>EMAIL:</strong> sersitogo@gmail.com</p>
                  </div>
               </div>
            </div>
            <div class="col-md-8">
               <div class="row">
                  <div class="col-md-7">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="widget_menu">
                              <h3>Menu</h3>
                              <ul>
                                 <li><a href="#">Sersi champignon</a></li>
                                 <li><a href="#">About</a></li>
                                 <li><a href="#">Nos services</a></li>
                                 <!--li><a href="#">Testimonial</a></li>
                                 <li><a href="#">Blog</a></li>
                                 <li><a href="#">Contact</a></li-->
                              </ul>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="widget_menu">
                              <h3>Compte</h3>
                              <ul>
                                 <li><a href="#">Compte</a></li>
                                 <li><a href="#">Se déconnecter</a></li>
                                 <li><a type="button" data-toggle="modal" (click)="openLogin()" >Se connecter</a></li>
                                 <li><a type="button" data-toggle="modal" (click)="openSign()" >Devenir client</a></li>
                                 <!--li><a href="#">Shopping</a></li>
                                 <li><a href="#">Widget</a></li-->
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5">
                     <div class="widget_menu">
                        <h3>Newsletter</h3>
                        <div class="information_f">
                           <p>Inscrivez-vous à notre Newsletter pour connaître nos nouveautés</p>
                        </div>
                        <div class="form_sub">
                           <form>
                              <fieldset>
                                 <div class="field">
                                    <input type="email" placeholder="Entrez votre adresse mail" name="email" />
                                    <input type="submit" value="" />
                                 </div>
                              </fieldset>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- footer end -->
   <!--Body of the popup of login-->
<div class="modal" tabindex="-1" role="dialog" id="login" aria-labelledby="loginLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">S'identifier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Sersi champignon, le champignon des champignons</p>
        <form [formGroup]="loginForm" class="login-container" (ngSubmit)="seConnecter()">
            <p [ngClass]="{ 'has-error': isSubmitted && formControls['nom_ut'].errors }">
               <input type="text" placeholder="nom d'utilisateur" formControlName="username">
            </p>

            <div *ngIf="isSubmitted && formControls['nom_ut'].errors" class="help-block">
               <div *ngIf="formControls['nom_ut'].errors['required']"><font color="red">Le nom d'utilisateur est requis</font></div>
            </div>

            <p [ngClass]="{ 'has-error': isSubmitted && formControls['password'].errors }">
               <input type="password" placeholder="Mot de passe" formControlName="password">
            </p>

            <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
               <div *ngIf="formControls['password'].errors['required']"><font color="red">Mot de passe requis</font></div>
            </div>
            <p>
               <input type="submit" value="Se connecter">
            </p>
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="openSign()">Inscription</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!--Body of the popup of sign up-->
<div class="modal" tabindex="-1" role="dialog" id="sign" aria-labelledby="signLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Je m'inscris</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Sersi champignon, le champignon des champignons</p>
        <form [formGroup]="loginForm" class="popup-content" (ngSubmit)="seConnecter()">
            <p>
               <input type="text" placeholder="nom" formControlName="name">
            </p>
            <p [ngClass]="{ 'has-error': isSubmitted && formControls['nom_ut'].errors }">
               <input type="text" placeholder="Pays" formControlName="country">
            </p>
            <p>
               <input type="text" placeholder="ville" formControlName="ville">
            </p>
            <p>
               <input type="email" placeholder="adresse mail" formControlName="mail">
            </p>
            <p>
               <input type="number" placeholder="téléphone" formControlName="telephone">
            </p>

            <p [ngClass]="{ 'has-error': isSubmitted && formControls['nom_ut'].errors }">
               <input type="text" placeholder="nom d'utilisateur" formControlName="username">
            </p>
            <div *ngIf="isSubmitted && formControls['nom_ut'].errors" class="help-block">
               <div *ngIf="formControls['nom_ut'].errors['required']"><font color="red">Le nom d'utilisateur est requis</font></div>
            </div>


            <p [ngClass]="{ 'has-error': isSubmitted && formControls['password'].errors }">
               <input type="password" placeholder="Mot de passe" formControlName="password">
            </p>

            <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
               <div *ngIf="formControls['password'].errors['required']"><font color="red">Le Mot de passe obligatoire</font></div>
            </div>
            <p>
               <input type="submit" value="S'inscrire">
            </p>
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="openLogin()">Retour</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
   <!--script src="/src/assets/js/jquery-3.4.1.min.js"></script>
   <script src="/src/assets/js/popper.min.js"></script>
   <script src="/src/assets/js/bootstrap.js"></script>
   <script src="/src/assets/js/custom.js"></script-->
