<link rel="shortcut icon" href="/src/assets/images/favicon.png" type="">
<title></title>
<link rel="stylesheet" type="text/css" href="/src/assets/css/bootstrap.css" />
<link href="/src/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="/src/assets/css/style.css" rel="stylesheet" />
<link href="/src/assets/css/responsive.css" rel="stylesheet">
<!-- footer start -->
   <footer>
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <div class="full">
                  <!--div class="logo_footer">
                     <a href="#"><img width="210" id="imk" src="assets/images/Sersi.jpg" alt="#" /></a>
                  </div-->
                  <div class="information_f">
                     <p><strong>ADRESSE:</strong> Gbamakopé, Djagblé, Lomé-Togo</p>
                     <p><strong>TELEPHONE:</strong> (+228)97028153/90782071/70457236</p>
                     <p><strong>EMAIL:</strong> sersitogo@gmail.com</p>
                  </div>
               </div>
            </div>
            <div class="col-md-8">
               <div class="row">
                  <div class="col-md-7">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="widget_menu">
                              <h3>Menu</h3>
                              <ul>
                                 <li><a href="#">Sersi champignon</a></li>
                                 <li><a href="#">About</a></li>
                                 <li><a href="#">Nos services</a></li>
                                 <!--li><a href="#">Testimonial</a></li>
                                 <li><a href="#">Blog</a></li>
                                 <li><a href="#">Contact</a></li-->
                              </ul>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="widget_menu">
                              <h3>Compte</h3>
                              <ul>
                                 <li><a href="#">Compte</a></li>
                                 <li><a href="#">Se déconnecter</a></li>
                                 <li><a href="#">Se connecter</a></li>
                                 <li><a href="#">Devenir client</a></li>
                                 <!--li><a href="#">Shopping</a></li>
                                 <li><a href="#">Widget</a></li-->
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5">
                     <div class="widget_menu">
                        <h3>Newsletter</h3>
                        <div class="information_f">
                           <p>Inscrivez-vous à notre Newsletter pour connaître nos nouveautés</p>
                        </div>
                        <div class="form_sub">
                           <form>
                              <fieldset>
                                 <div class="field">
                                    <input type="email" placeholder="Entrez votre adresse mail" name="email" />
                                    <input type="submit" value="" />
                                 </div>
                              </fieldset>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- footer end -->
   <!--script src="/src/assets/js/jquery-3.4.1.min.js"></script>
   <script src="/src/assets/js/popper.min.js"></script>
   <script src="/src/assets/js/bootstrap.js"></script>
   <script src="/src/assets/js/custom.js"></script-->
