.slider_section {
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 200px;
    /*background-color: purple;*/
    image-rendering: crisp-edges;
    -webkit-image-rendering: crisp-edges;
    /* Pour une compatibilité avec certains navigateurs WebKit */
    image-rendering: pixelated;
    -webkit-image-rendering: pixelated;
    /* Pour une compatibilité avec certains navigateurs WebKit */
}

.detail-box {
    justify-content: center;
    align-items: center;
}

/*.detail-box h1 {
    margin-top: -190px;
    margin-left: -120px;
}*/

/*.detail-box p {
    color: white;
    margin-left: -120px;
    background-color: rgba(0, 0, 0, 0.5);*/
/* Modifier la couleur de fond et l'opacité en fonction de vos besoins */


/*}*/