<!DOCTYPE html>
<html>

<head>
   <!-- Basic -->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <!-- Site Metas -->
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="" />

   <title>Sersi auto</title>
   <!-- bootstrap core css -->
</head>

<body>
      <!-- slider section -->
      <section class="slider_section" id="mysec" style="background-image:url('assets/images/form.jpg');">
        
        <div class="detail-box">
            <h1 >
                <span id="sers">
                    Sersi formation
                </span>
                
            </h1>
            <p class="boss"><strong>
                     Sersi Champignon est une entreprise née au Togo.....
                </strong>
            </p>
        </div>
        
      </section>
       
 
      

   
</body>

</html>
