<!DOCTYPE html>
<html>

<head>
   
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="" />
   <title>Produits</title>
   <!--link rel="shortcut icon" href="/src/assets/images/favicon.png" type="">
   <title>Produits</title>
   <link rel="stylesheet" type="text/css" href="/src/assets/css/bootstrap.css" />
   <link href="/src/assets/css/font-awesome.min.css" rel="stylesheet" />
   <link href="/src/assets/css/style.css" rel="stylesheet" />
   <link href="/src/assets/css/responsive.css" rel="stylesheet" /-->
</head>

<body class="sub_page">
   
   <section class="product_section layout_padding">
      <div class="container">
         <div class="heading_container heading_center">
            <h2>
               Nos <span>Produits</span>
            </h2>
         </div>
         <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
               <div class="box">
                  <div class="detail-box" style="display: flex; justify-content: center; align-items: center;" >
                     <strong style="text-align: center;">
                        1200 FCFA / 500g
                     </strong>
                  </div>
                  <div class="option_container">
                     <div class="options">
                        <a  href="" class="option1">
                           Ajouter au panier
                        </a>
                        <a href="" [routerLink]="['/farine']" class="option2">
                           Voir le produit
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="assets/images/Farine enrichie aux champignons.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Farine enrichie aux champignons
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
               <div class="box">
                  <div class="detail-box" style="display: flex; justify-content: center; align-items: center;" >
                     <strong style="text-align: center;">
                       1500 FCFA / 200g
                     </strong>
                  </div>
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Ajouter au panier
                        </a>
                        <a href="" [routerLink]="['/biscuit']" class="option2">
                           Voir le produit
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="assets/images/Sersi biscuit aux champignons.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Sersi biscuit aux champignons
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
               <div class="box">
                  <div class="detail-box" style="display: flex; justify-content: center; align-items: center;" >
                     <strong style="text-align: center;">
                        1000 FCFA / 25g
                     </strong>
                  </div>
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Ajouter au panier
                        </a>
                        <a  [routerLink]="['/champignon-seche']" class="option2">
                           Voir le produit
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="assets/images/Sersi champignon séché.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Sersi champignon séché
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
               <div class="box">
                  <div class="detail-box" style="display: flex; justify-content: center; align-items: center;" >
                     <strong style="text-align: center;">
                        500 FCFA
                     </strong>
                  </div>
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Ajouter au panier
                        </a>
                        <a href="" [routerLink]="['/champignon-frais']" class="option2">
                           Voir le produit
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="assets/images/Sersi champignon frais.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Sersi champignon frais
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
               <div class="box">
                  <div class="detail-box" style="display: flex; justify-content: center; align-items: center;" >
                     <strong style="text-align: center;">
                        1000 FCFA / 20g
                     </strong>
                  </div>
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Ajouter au panier
                        </a>
                        <a href="" [routerLink]="['/champignon-poudre']" class="option2">
                           Voir le produit
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="assets/images/Sersi champignon en poudre.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Sersi champignon en poudre
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
               <div class="box">
                  <div class="detail-box" style="display: flex; justify-content: center; align-items: center;" >
                     <strong style="text-align: center;">
                        2250 FCFA/kg
                     </strong>
                  </div>
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Ajouter au panier
                        </a>
                        <a href="" [routerLink]="['/semence']" class="option2">
                           Voir le produit
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="assets/images/Semence de champignons.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Semence de champignons (mycélium)
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
               <div class="box">
                  <div class="detail-box"  >
                     <strong >
                        2500 FCFA le paquet de 100 unités
                     </strong>
                  </div>
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Ajouter au panier
                        </a>
                        <a href="" [routerLink]="['/sachet']" class="option2">
                           Voir le produit
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="assets/images/Sachets thermo résistants.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Sachets thermo résistants
                     </h5>
                  </div>
                  
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
               <div class="box">
                  <div class="detail-box"  >
                     <strong >
                        5500 FCFA le litre
                     </strong>
                  </div>
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Ajouter au panier
                        </a>
                        <a href="" [routerLink]="['/em']" class="option2">
                           Voir le produit
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="assets/images/EM.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        EM (microorganisme efficace)
                     </h5>
                  </div>
               </div>
            </div>
         </div>   
      </div>            
                        
   </section>
   
   
   <!--script src="/src/assets/js/jquery-3.4.1.min.js"></script>
   
   <script src="/src/assets/js/popper.min.js"></script>
   
   <script src="/src/assets/js/bootstrap.js"></script>
   
   <script src="/src/assets/js/custom.js"></script-->
</body>

</html>