#sers {
    color: yellow;
}

#Champ {
    color: white;
}



.slider_section {
    white-space: nowrap;
    /* Empêche le retour à la ligne automatique */
}

.slider_section {
    background-size: 1500px 900px;
    /* Spécifiez la largeur et la hauteur souhaitées */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image de fond */
}